#featured-tweets-container {
  margin-top: 20px;
  min-width: 1180px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.heading {
  position: relative;
  margin-top: 3em;
  margin-bottom: 3em;
}

.heading-line {
  border-bottom: 1px solid #ccc;
  border-top: none;
}

.heading-text-container {
  position: absolute;
  top: -1.3em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading-text {
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 800;
  background-color: #F5F8FA;
}

.tweet-category {
  position: relative;
}

.tweet-category a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9em;
}
.tweet-category a:hover {
  text-decoration: underline;
}

.tweet-category span {
  position: absolute;
  font-weight: 300;
  color: #555;
  font-size: 1.4em;
  top: -4px;
  margin-left: .1em;
}