/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 16px;
  background-color: #F5F8FA;
}

.App-body {
  padding: 0px 30px;
}