#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  min-height: 32px;
  padding: 10px 40px;
  font-size: 12px;
  background-color: #fdfdfd;
  border-top: 1px solid #dfdfdf;
  color: #c3c8cc;
  transition: min-height 0.3s, padding 0.2s;
}

#footer.hide {
  min-height: 0px;
  height: 0px;
  padding: 0px;
}

#footer ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

#footer ul li {
  display: inline-block;
  padding: 0px 3px;
}

#footer a {
  display: inline-block;
  margin-right: 8px;
  color: #c3c8cc;
  text-decoration: none;
}
#footer a:hover {
  display: inline-block;
  margin-right: 8px;
  color: #abafb2;
  text-decoration: underline;
}